<h1>Current Tasks</h1>
<main>
    <div id="main">
        <button class="main-button"  routerLink="/AT">Add Task</button>
        <button class="main-button"  routerLink="/">Home Page</button>
        <button class="main-button"  routerLink="/VTH">Complete Tasks</button>
    </div>    
</main>
<div id="mains">  
  <div class="Items2">
    <h3>Tasks</h3>
    <ul>
      <li *ngFor="let task of task; let i = index; trackBy: trackByIndex">
        <div id="a1">
          {{i+1}}: {{ tasksName[i] }}
        </div>
        <hr>&nbsp;
        <div id="a2">
          {{ task }}
        </div>
        <input type="checkbox" [(ngModel)]='checked' [checked]="isChecked(i)" (change)="onCheckboxChange(i, $event)">
      </li>
    </ul>        
  </div>
</div>
